allow init blkid_exec:file getattr;
allow init dnsmasq_exec:file getattr;
allow init incident_exec:file getattr;
allow init incident_helper_exec:file getattr;
allow init migrate_legacy_obb_data_exec:file getattr;
allow init netutils_wrapper_exec:file getattr;
allow init ot_ctl_exec:file getattr;
allow init preopt2cachename_exec:file getattr;
allow init rs_exec:file getattr;
allow init runas_exec:file getattr;
allow init sdcardd_exec:file getattr;
allow init sgdisk_exec:file getattr;
allow init simpleperf_app_runner_exec:file getattr;
allow init tcpdump_exec:file getattr;
allow init tradeinmode_exec:file getattr;
allow init vold_prepare_subdirs_exec:file getattr;
